#Slides{
    position: absolute;
    height:51vw;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    z-index: 2;
}
.slide{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height:60vw;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
}
#slider{
   height:51vw; 
}
.showing{
    opacity: 1;
}
.slide:nth-of-type(1){
    background-image: url(../theme/img/Slides/slide1-min.png);
    background-size: 100% 100%;
}
.slide:nth-of-type(2){
    background-image: url(../theme/img/Slides/slide2-min.png);
    background-size: 100% 100%;
}
.slide:nth-of-type(3){
    background-image:url(../theme/img/Slides/slide3-min.png);
    background-size: 100% 100%;
}
.services__bg{
    background-image: url(../theme/img/bg/services.jpg);
}